@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 181 30% 99%;
    --foreground: 181 69% 2%;
    --muted: 181 12% 91%;
    --muted-foreground: 181 9% 36%;
    --popover: 181 30% 98%;
    --popover-foreground: 181 69% 1%;
    --card: 180 16.67% 97.65%;
    --card-foreground: 181 69% 1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 181 49.17% 57.93%;
    --primary-foreground: 181 61% 8%;
    --secondary: 181 4% 81%;
    --secondary-foreground: 181 4% 21%;
    --accent: 181 4% 81%;
    --accent-foreground: 181 4% 21%;
    --destructive: 1 86% 30%;
    --destructive-foreground: 1 86% 90%;
    --ring: 181 61% 68%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 210 19% 8%;
    --foreground: 0 0% 100%;
    --muted: 210 12% 15%;
    --muted-foreground: 210 12% 65%;
    --popover: 210 19% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 210 19% 6%;
    --card-foreground: 0 0% 100%;
    --border: 210 9% 13%;
    --input: 210 9% 16%;
    --primary: 167.37 71.99% 25.05%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 210 19% 23%;
    --accent-foreground: 210 19% 83%;
    --destructive: 1 95% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;
  }
}
